main {
    margin: 40px;
}

table, th, td {
    border: 1px solid black;

}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #cccccc;
}

th, td {
    text-align: left;
}

tr:nth-child(even) {
    background-color: #eee
}

#search {
    text-align: right;
}

nav {
    text-align: right;
}

.button {
    margin: 5px;
    border: 1px solid black;
    -webkit-box-shadow: 2px 2px 0 0 #ADADAD;
    box-shadow: 2px 2px 0 0 #ADADAD;
    background-color: white;
    color: black;
}

.create {
    background-color: #2c78e4;
    margin: 5px;
    border: 1px solid black;
    -webkit-box-shadow: 2px 2px 0 0 #ADADAD;
    box-shadow: 2px 2px 0 0 #ADADAD;
    color: white;
}
div {
    text-align: right;
}

.block {
    display: inline-block;
}
